:root {
    --tp-heading-primary: #333; /* Color para títulos */
    --tp-ff-heading: 'Arial', sans-serif; /* Fuente para títulos */
    --tp-common-white: #ffffff; /* Color de fondo blanco */
    --tp-text-body: #666; /* Color para texto del cuerpo */
    --tp-theme-primary: #0989ff;
}